<div class='app-main'>

  <form>
    <h1>Predict Wine Rating</h1>

    <div class="form-group">
      <label for="provinceInput">Choose a Province</label>
      <select id="provinceInput" class="form-control" [(ngModel)]="province" name="province">
        <option *ngFor="let provinceOpt of provinces" [value]="provinceOpt">{{provinceOpt}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="varietyInput">Choose a Variety</label>
      <select id="varietyInput" class="form-control" [(ngModel)]="variety" name="variety">
        <option *ngFor="let varietyOpt of varieties" [value]="varietyOpt">{{varietyOpt}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="priceInput">Enter a Price</label>
      <input type="text" id="priceInput" class="form-control" [(ngModel)]="price" name="price">
    </div>
    <button class="btn btn-primary" (click)="requestEstimate()">Run Prediction</button>

    <div class="form-group" *ngIf="estWineRating > 0">
      <h3>Predicted Wine Rating: {{estWineRating | number:'1.1-1'}}</h3>
    </div>
  </form>

</div>