<div class='predict-main'>
  <h1>Estimate Total Payments</h1>

  <div>
    <label>Procedure Name:
      <select class='input' [(ngModel)]="procedureName">
        <option *ngFor="let procedure of procedures" [value]="procedure">{{procedure}}</option>
      </select>
    </label>

    <p>
    <label>Hospital Region:
      <select class='input' [(ngModel)]="hospitalRegion">
        <option *ngFor="let region of regions" [value]="region">{{region}}</option>
      </select>
    </label>

    <p>
    <button (click)="requestEstimate()">Run Estimation</button>

    <p>
    <h4>Estimated total payments: {{estTotalPayment | currency:'USD':'symbol'}}</h4>
  </div>

</div>